:root{
  --color1:rgb(248, 239, 239, 0.5);
  --color2:rgba(255, 255, 255, 0);
  --color3:#222;
  --color4:#eee;
  --color5: #888;

  --black:black;
  --white:white; 

  /* light mode colors
  --color1:rgb(248, 239, 239, 0.5);
  --color2:rgba(255, 255, 255, 0);
  --color3:#222;
  --color4:#eee;
  --color5: #888;

  --black:black;
  --white:white; 
  */


  /* dark mode colors
  --color1:rgb(248, 239, 239, 0.5);
  --color2:white;
  --color3:white;
  --color4:#eee;
  --color5: #888;

  --black:white;
  --white:black;   
  */
}

* {
  margin: 0;
  padding: 0; 
}
body{
  overflow-x: hidden;
  background: var(--white);
}
p,h1,.author-info,.social{
  color: var(--black);
}
.social{
  font-size:1.3rem;
}
.navigation {
  margin-top: 0px;
  font-family: var(--font1);
  /* height: 74px;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-left img {
  margin-top: 1.5rem;
}

.nav-left span {
  font-size: 35px;
  padding-top: 10px;
}
.blogpost{
  padding-left: 10%;
  padding-right: 10%;
}
.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 22px;
  padding-bottom: 23px;
}

.nav-left ul li {
  list-style: none;
  margin: 0rem 14px;
  margin-top: 2rem;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1rem;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}

.nav-left ul li:hover {
  background-color: var(--color1);
  border: 1px solid var(--black);
  border-radius: 5px;
}

.nav-left ul li a {
  text-decoration: none;
  color: var(--black);
}

.nav-left ul li a:hover {
  font-weight: bolder;
}

.dark-mode {
  
  background-color: var(--black);
  color: var(--white);
}

.content {
  height: 100%;
  display: flex;
  margin-top: 32px;
  padding: 9px;
  position: relative;
}

.content::after {
  content: "";
  background-image: url("../img/11.png");
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.15;
  border-radius: 12px;
}

.content-left {
  font-family: var(--font1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 49px;
  z-index: 1;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right img {
  height: 355px;
  border: 2px solid var(--black);
  border-radius: 200px;
}

.home-articles {
  padding: 18px;
  background-color: var(--color1);
  margin-top: 23px;
  position: relative;
}

.year-box {
  position: absolute;  
  right: 0px;
  top: 100px;
  width: 234px;
  height: 255px;
  font-size: 18px;
}

.year-box div {
  margin: 12px 0px;
}

.home-article {
  display: flex;
  margin: 25px;
}

.home-article img {
  width: 300px;
}

.home-article-content {
  align-self: center;
  padding: 25px;
}

.home-article-content a {
  text-decoration: none;
  color: var(--black);
}
/* .home-articles{} */
.footer {
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  flex-direction: column;
  margin-top: 2rem;
}

.footer a {
  color: white ;
}.footer p {
  color: white ;
}

/* blogpost css */

.post-img{
  height: 404px;
  overflow: hidden; 
}
.post-img img{
  width: 100%;
}
.blog-post-content h1{
  text-align: center;
}
.blog-post-content p{
  font-size: 18px; 
}

.row{
  display: flex;
}
.more-post{
  flex-direction: column; 
  align-items: center;
}
.blogpost-meta{ 
  display: flex;
  justify-content: space-between;
}

.author-info{
  margin: 12px 0;
}
.author-info div{
  padding: 4px 0px;
  font-family: var(--font2);
}
.social{
  padding-right: 53px;
  align-self: center;
  cursor: pointer;
}


/* my css */
  /* Text Mode */
.text-mode {
    filter: grayscale(100%) !important;
}
/* Dark Mode */
.dark-mode {
    background-color: var(--color3)  !important;
    color: var(--white) !important;
}
/* Battery Saver Mode */
.battery-saver-mode {
    filter: grayscale(100%) !important;
    background-color: var(--color4) !important;
    color:var(--color5)  !important;
}

.nav-right button{
  padding: 10px 10px;
  margin-right: 1rem;
  cursor: pointer;
}
.linkbtn{
  padding: 10px 10px;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}






/* mobile css start from here */
@media screen and (max-width: 1200px) {
  .navigation {
    flex-direction: column;
    margin-bottom: 23px;
  }
  .nav-right button{
    padding: 10px 10px;
    margin-right: 1rem;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .blogpost{
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .nav-left {
    flex-direction: column;
    text-align: center;
  } 
  .nav-left ul li {
    margin-top: 0;
    padding-bottom: 0;
  }
  .home-article-content {
    align-self: center;
    padding: 0;
}

  .content-right {
    display: none;
  }  
  .content-left {
    padding: 0px 14px;
  }

  .home-article {
    flex-direction: column;
  }

  .home-article-img {
    text-align: center;
  }

  .year-box {
    top: 25px;
    left: 60vw;
    font-size: 11px;
    display: flex;
  }

  .year-box div {
    padding: 0 3px;
    margin: 0;
  }

  .home-article img {
    width: 70vw;
  }
  .form-input {
    width: 50%;
  }
  .form-box input,
  textarea {
    width: 66vw;
  }
  .row {
    flex-direction: column;
  }
  .social {
    padding: 0;
  }
  .post-img {
    height: auto;
  }
  .adjust-year {
    position: static;
    height: auto;
    padding: 12px 0px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .nav-right button{
    margin-top: 1rem;
  }

}






/* utility classes css start from here */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
:root { 
  --main-bg-color: #202a59;
  --font1: "Baloo Bhaina 2", cursive;
  --font2: "Roboto", sans-serif;
}

.center{
  text-align: center
}

.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}

.max-width-1 {
  max-width: 80vw;
}

.max-width-2 {
  max-width: 60vw;
}

.m-auto {
  margin: auto;
}

.mx-1{
  margin-left: 23px;
  margin-right: 23px;
}

.my-2{
  margin-top: 32px;
  margin-bottom: 32px;
}

.btn {
  padding: 0px 20px;
  padding-top: 3px;
  border: 2px solid var(--black);
  border-radius: 6px;
  font-family: var(--font1);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: var(--color2);
  background: var(--main-bg-color);
}

.form-input {
  padding: 0px 5px;
  padding-top: 3px;
  font-size: 16px;
  border: 2px solid var(--black);
  border-radius: 4px;
  margin: 0 13px;
  font-family: var(--font1);
}

.form-box input, textarea{
  width: 52vw;
  padding: 0px 6px;
  margin: 7px 0;
  font-size: 18px;
  font-family: var(--font1);
  border: 2px solid var(--main-bg-color);
    border-radius: 5px;
}


.imghide{
  display: none;
}








